.app__kyle {
  color: blue;
}
.app__vin {
  color: red;
}
.app__title {
  text-align: center;
}
.app__hr {
  border: 1px solid rgb(104, 20, 240);
}
.app__react {
  color: #50bbd7;
}
.app__fire {
  color: #f7c62f;
}
.app__auth {
  color: #20692c;
}
